<div class="side-tool">
    <ul>
        <li>
            <a href="./index">
                Index page
            </a>
        </li>
        <li>
            <a href="./list">
                List page
            </a>
        </li>
    </ul>
</div>